@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Poppins", sans-serif;
}

.active {
  font-weight: 500;
  color: rgb(44, 39, 39);
  border-top: 2px solid blue;
}

html.dark {
  background-color: #1f2937; /* Dark background */
  color: #676f80; /* Light text */
}
