@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Poppins", sans-serif;
}

.active {
  font-weight: semibold;
  color: gray;
}

html.dark {
  background-color: #1f2937; /* Dark background */
  color: #f3f4f6; /* Light text */
}